h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1.1em;
    color: #000;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: .5142em;
    padding-top: .2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: .7em;
    padding-top: .3em;
}

h4 {
    font-size: 1.25em;
    margin-bottom: .6em;
}

h5, h6 {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: bold;
}

p, blockquote, ul, ol, dl, form, table, pre {
    line-height: inherit;
    margin: 0 0 1.5em 0;
}

ul, ol, dl {
    padding: 0;
}

ul ul, ul ol, ol ol, ol ul, dd {
    margin: 0;
}

li {
    margin: 0 0 0 2em;
    padding: 0;
    display: list-item;
    list-style-position: outside;
}

blockquote, dd {
    padding: 0 0 0 2em;
}

pre, code, samp, kbd, var {
    font: 100% mono-space, monospace;
}

pre {
    overflow: auto;
}

abbr, acronym {
    text-transform: uppercase;
    border-bottom: 1px dotted #000;
    letter-spacing: 1px;
}

abbr[title], acronym[title] {
    cursor: help;
}

small {
    font-size: .9em;
}

sup, sub {
    font-size: .8em;
}

em, cite, q {
    font-style: italic;
}

img {
    border: none;
}

hr {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, caption {
    text-align: left;
}

form div {
    margin: .5em 0;
    clear: both;
}

label {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"], .radio, .checkbox {
    margin: 0 .25em 0 0;
}

body, table, input, textarea, select, li, button {
    font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 1.5em;
    color: #444;
}

body {
    font-size: 12px;
    background: #c4f0f1;
    text-align: center;
}

#mainContainer {
    margin: 5em auto;
    background: #fff;
    border: 8px solid #eee;
    width: 500px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;
    -moz-box-shadow: 0 0 10px #4e707c;
    -webkit-box-shadow: 0 0 10px #4e707c;
    -box-shadow: 0 0 10px #4e707c;
    text-align: left;
    position: relative;
}
#schoolTitle{
    color:Navy;
     
}
#dashBoardContainer {
    margin: 5em auto;
    background: #fff  ;
    border: 15px solid #eee;
    width: 1100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -border-radius: 5px;
    -moz-box-shadow: 0 0 10px #4e707c;
    -webkit-box-shadow: 0 0 10px #4e707c;
    -box-shadow: 0 0 10px #4e707c;
    text-align: center;
    position: relative;
}
#mainContainer a, #mainContainer a:visited {
    color: #0283b2;
}

#mainContainer a:hover {
    color: #111;
}

#mainContainer h1 {
    background: #0092c8;
    color: #fff;
    -text-shadow: #007dab 0 1px 0;
    font-size: 14px;
    padding: 18px 23px;
    margin: 0 0 1.5em 0;
    border-bottom: 1px solid #007dab;
}

#mainContainer .register {
    position: absolute;
    float: left;
    margin: 0;
    line-height: 30px;
    top: -40px;
    right: 0;
    font-size: 11px;
}

#mainContainer p {
    margin: .5em 25px;
}

#mainContainer div {
    margin: .5em 25px;
    background: #eee;
    padding: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -border-radius: 3px;
    text-align: right;
    position: relative;
}

#mainContainer label {
    float: left;
    line-height: 30px;
    padding-left: 10px;
}

#mainContainer .field {
    border: 1px solid #ccc;
    width: 280px;
    font-size: 12px;
    line-height: 1em;
    padding: 4px;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    -box-shadow: inset 0 0 5px #ccc;
}

#mainContainer div.submit {
    background: none;
    margin: 1em 25px;
    text-align: left;
}

#mainContainer div.submit label {
    float: none;
    display: inline;
    font-size: 11px;
}

#mainContainer button {
    border: 0;
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    -text-shadow: #007dab 0 1px 0;
    background: #0092c8;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -border-radius: 50px;
    cursor: pointer;
}

#mainContainer .forgot {
    text-align: right;
    font-size: 11px;
}

#mainContainer .back {
    padding: 1em 0;
    border-top: 1px solid #eee;
    text-align: right;
    font-size: 11px;
}

#mainContainer .error {
    float: left;
    position: absolute;
    left: 95%;
    top: -5px;
    background: #890000;
    padding: 5px 10px;
    font-size: 11px;
    color: Red;
    -text-shadow: #500 0 1px 0;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -border-radius: 3px;
    -moz-box-shadow: 0 0 5px #700;
    -webkit-box-shadow: 0 0 5px #700;
    -box-shadow: 0 0 5px #700;
}

#mainContainer .errorsText {
    color: red;
    /*font-family: New Century Schoolbook, serif;*/

    font-style: normal;
    position: relative;
}

* {
    margin: 0;
    padding: 0
}

#accordion {
    width: 459px;
    margin: 50px auto
}

.accordion {
    width: 459px;
    font: 12px Verdana, Arial;
    color: #033
}

.accordion dt {
    width: 439px;
    border: 2px solid #9ac1c9;
    padding: 8px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.25em;
    margin-bottom: .6em;
     
}

.accordion dt:hover {
    
}

.accordion dd {
    overflow: hidden;
    background: #fff
}

.accordion span {
    display: block;
    width: 425px;
    border: 2px solid #9ac1c9;
    border-top: none;
    padding: 15px
}

#accordion2 {
    width: 259px;
    margin: 50px auto;
    border: 1px solid #333;
    border-top: none
}

.accordion2 {
    width: 259px;
    font: 12px Verdana, Arial;
    color: #333
}

.accordion2 dt {
    width: 247px;
    padding: 4px 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: #666;
    background-position: right center;
    background-repeat: no-repeat;
    color: Navy;
    /*border-top: 1px solid #333*/
}

.accordion2 dt:hover {
    background-color: #555
}

.accordion2 .open {
    background-color: #444;
     
}

.accordion2 dd {
    overflow: hidden;
    background: #fff
}

.accordion2 span {
    display: block;
    width: 229px;
    border-top: none;
    padding: 15px
}

/* Horizontal Accordion */

horizontalaccordion>ul {
    margin: 0;
    padding: 0;
    list-style:none;
    height: 300px;
}
 
.horizontalaccordion>ul>li {
    display:block;
    overflow: hidden;
    float:left;
    margin: 0;
    padding: 0;
    list-style:none;
    width:40px;
    height: 300px;
 
    /* Decorative CSS */
    background:#f0f0f0;
 
    /* CSS3 Transitions */
    transition: width 0.9s ease-in-out;
    -moz-transition: width 0.9s ease-in-out;
    -webkit-transition: width 0.9s ease-in-out;
    -o-transition: width 0.9s ease-in-out;
}
 
.horizontalaccordion>ul>li>h3 {
    display:block;
    float:left;
    margin: 0;
    padding:10px;
    height:19px;
    width:280px;
 
    /* Decorative CSS */
    border-left:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
    background:#cccccc;
 
    /* CSS3 Transform Rotate & Translate */
    white-space:nowrap;
    -moz-transform: rotate(90.0deg) translate(-40px,0px);  /* FF3.5+ */
    -moz-transform-origin: 0 100%;
    -o-transform: rotate(90.0deg) translate(-40px,0px);  /* Opera 10.5 */
    -o-transform-origin: 0 100%;
    -webkit-transform: rotate(90.0deg) translate(-40px,0px);  /* Saf3.1+, Chrome */
    -webkit-transform-origin: 0 100%;
    transform: rotate(90.0deg) translate(-40px,0px);  /* Saf3.1+, Chrome */
    transform-origin: 0 100%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
            progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
                "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)"; /* IE8 */
 
    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( top, #999999, #cccccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
}
 
.horizontalaccordion>ul>li>div {
    display:none;
    float:right;
    overflow: auto;
    position:relative;
    top:-40px;
    left:40px;
    *top:0px;       /* IE7 Hack */
    *left:0px;      /* IE7 Hack */
    margin:0;
    width:320px;
    height:280px;
    padding:10px;
}
 
.horizontalaccordion>ul>li:hover {
    overflow: hidden;
    width: 380px;
}
 
.horizontalaccordion:hover>ul>li:hover>div {
    display:block;
}
 
.horizontalaccordion:hover>ul>li:hover>h3 {
    /* Decorative CSS */
    color:#fff;
    background:#000000;
 
    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( top, #454545, #000000); /* FF, Flock */
    background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000)); /* Safari, Chrome */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
            progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000); /* IE 5.5 - IE 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
                "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000)";   /* IE 8 */
}
 
.horizontalaccordion>ul>li>h3:hover {
    cursor:pointer;
}
.LinkButton {
  background: transparent;
  border: 0;
  border-bottom: 0px solid blue;
  color: blue;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

     
/*[if lte IE 7]>
    <style type="text/css">
.button {
  border: 0;
  text-decoration: underline;
}
    </style>
<![endif]-->      */

 .errors {
    font-style: italic;
    color: red;
 }
 .emphasis {
    font-size: 1.3em;
 }
